#bigMenu
{
	position: fixed;
	overflow: hidden;
	background-color:transparent;
	width: 99%;
	font-size: 4.5vh;
				
}

.menu a
{
	text-align: center;
	float: left;	

	background-color:rgb(14, 66, 14);	
	color:rgb(198, 224, 198);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
	
	
	text-decoration: none;		
	padding: 2vh;
	margin: 0.5vh;
	border-radius: 4vh;
		
}

.menu a:hover
 {
	background-color:rgb(20, 82, 17);	
 }

.menu :visited
{
	color:rgb(198, 224, 198);
}

.menu-right
{
	float: right;
	
}



#about
{
	background-color:rgb(219, 236, 219);
}

#photos
{
	background-color:white;
}

.center
 {	
	width:270px;
	height:180px;
	border: 5px solid black;
	border-radius: 4px;	  
}

#playlist
{
	background-color:rgb(219, 236, 219);
}

#qrcoder
{
	background-color:rgb(219, 236, 219);	
}
